= title "Manage Comments"

%h1 Manage Comments

.locations
  .location
    .name 
      %strong Location Name
    .full_address 
      %strong Status
    .message_long 
      %strong Comment
    .controls 
      %strong Actions
    .clear  
  - @comments.each do |comment|
    .location{ :class => cycle(:odd, :even), :id => "comment-#{comment.id}" }
      .name= link_to comment.commentable.try(:name), place_path(comment.commentable)
      .full_address= comment.status
      .message_long= comment.comment
      .controls
        = (link_to 'approve', [:approve, :admin, comment], :remote => true, :class => 'approve_button') unless comment.approved?
        = link_to 'remove', [:admin, comment], :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
      .clear
  .location.summary
    .amount.message
      %strong Total: #{pluralize(@comments.count, 'comment')}
    .clear