= title "Change My Password | #{SEO_TITLE_SHORT}"
= description "Change My Password #{SEO_TITLE_SHORT}"

%h2 Change My Password

- simple_form_for @user, :url => password_reset_path, :method => :put do |f|
  = f.error_messages
  = f.input :password
  = f.input :password_confirmation
  = f.submit "Update my password"