= title 'Manage Locations'

= content_for :on_ready do
  init_filter_locations();

%h1.left Locations
.clear    

= form_tag admin_locations_path, :method => :get, :id => 'admin_quick_filter' do
  %span Name
  = text_field_tag :name, params[:name]
  %span Plan
  = select_tag :plan, options_for_select(Location::PLANS.invert, params[:plan]), :include_blank => true
  %span City
  = select_tag :city, options_for_select((Location.all :select => :city).collect{|c| c.city}.uniq.sort, params[:city]), :include_blank => true
  = submit_tag "Search"
  
- if @total > 0
  .locations
    .location.summary
      .name 
        %strong Name / Date
      .secret_code
        %strong Code
      .full_address 
        %strong Full Address
      .specials
        %strong Specials
      .model_field
        = image_tag 'logo_16_1.png', :title => 'Logo'
      .model_field
        = image_tag 'clock_16.png', :title => 'Hours'
      .model_field
        = image_tag 'phone_16.png', :title => 'Phone'
      .model_field
        = image_tag 'facebook_16.png', :title => 'Facebook'
      .model_field
        = image_tag 'twitter_16.png', :title => 'Twitter'
      .message
        %strong Description
      .controls 
        %strong Actions
      .clear
    - @locations.each do |location|
      .location{ :class => cycle(:odd, :even), :id => "location-#{location.id}" }
        .name
          = link_to location.name, place_path(location), :target => '_blank'
          .plan{:class => Location::PLANS[location.plan]}= Location::PLANS[location.plan]
          .date= location.created_at.to_date.to_s(:short_date)
          .time= location.created_at.to_s(:time_12)
        .secret_code= location.activation_code        
        .full_address= location.full_address
        .specials
          - location.short_name_of_special_days.each do |day|
            %span= day
          - if location.short_name_of_special_days.size == 0
            &nbsp;
        .model_field
          = location.has_logo? ? (image_tag 'green.png') : (image_tag 'red.png')
        .model_field
          = location.schedule_present? ? (image_tag 'green.png') : (image_tag 'red.png')
        .model_field
          = location.phone.blank? ? (image_tag 'red.png') : (image_tag 'green.png')
        .model_field
          = location.facebook.blank? ? (image_tag 'red.png') : (image_tag 'green.png')
        .model_field
          = location.twitter.blank? ? (image_tag 'red.png') : (image_tag 'green.png')
        .message
          = location.description
          &nbsp;
        .controls
          = link_to 'show', [:admin, location], :class => 'show_button'
          = link_to 'edit', [:edit, :admin, location], :class => 'edit_button'
          = link_to "specials(#{location.special_days_count})", [:admin, location, :special_days], :class => 'index_button'
          = link_to "reviews(#{location.reviews_count || 0})", [:admin, location, :reviews], :class => 'index_button'
          = link_to "events(#{location.events.count})", admin_events_path(:location_id => location.id), :class => 'index_button'
          = (link_to 'approve', [:approve, :admin, location], :remote => true, :class => 'approve_button') unless location.approved?
          = link_to 'remove', [:admin, location], :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
        .clear
    .location.summary
      .paginate
        = will_paginate @locations
    .location.summary
      .amount.message
        %strong Total: #{pluralize(@total, 'location')}
      .clear
- else
  %p
    List with results is empty.