- date_select_options.each do |info|
  .admin_location_special
    %h2= info[0]
    - if location.special?(info[1])
      %table.zebra
        %thead
          %th{:width => '100px'} Start Time
          %th{:width => '100px'} End Time
          %th Description
          %th{:width => '100px'}
        %tbody
          - location.load_specials_for_day(info[1]).each_with_index do |special, index|
            - id = special.id
            %tr{ :class => (index % 2 == 0 ? 'odd' : 'even') }
              %td
                %span= transform_time(special.start_time)
                .field.none
                  = select_tag "start_time_#{id}", options_for_select(time_options, special.start_time)
              %td
                %span
                  = transform_time(special.end_time)
                .field.none
                  = select_tag "end_time_#{id}", options_for_select(time_options, special.end_time)
              %td
                %span= special.description
                .field.none
                  = text_area_tag "description_#{id}", special.description, :rows => 4, :cols => 70
              %td
                %span= link_to 'edit', '#', :class => 'edit_row'
                %span= link_to 'remove', [:admin, location, special], :class => 'remove_row', :remote => true, :method => :delete, :confirm => 'Are you sure?'
                .field.none
                  = hidden_field_tag "location_#{id}", special.id
                  = submit_tag 'update', :class => 'update_row', "data-url" => url_for([:admin, location, special]), "data-id" => id
                  = link_to 'cancel', '#', :class => 'cancel_row'
                  
    - else
      %p
        %strong No specials.