= title "Admin Dashboard"

%h1 Admin Dashboard

%table.zebra.w33
  %tr
    %th Users
    %td #{User.count}
  %tr
    %th Locations
    %td #{Location.pending.count}/#{Location.count}
  %tr
    %th Reviews
    %td #{Review.not_approved.count}/#{Review.count}
  %tr
    %th Events
    %td #{Event.not_approved.count}/#{Event.count}
  %tr
    %th Contacts
    %td #{Contact.count}
