= title "Manage Reviews"

%h1 Manage Reviews

- if @reviews.count > 0
  .admin_reviews
    .admin_review
      .name 
        %strong Location
      .by 
        %strong Posted By
      .rating_value
        %strong Ratings
      .message
        %strong Reviews
      .controls 
        %strong Actions
      .clear  
    - @reviews.each do |review|
      .admin_review{ :class => cycle(:odd, :even), :id => "review-#{review.id}" }
        .name= link_to review.reviewable.try(:name), place_path(review.reviewable)
        .by= review.user.name
        .rating_value
          %span service: #{review.service_rating}, atmosphere: #{review.atmosphere_rating}, value: #{review.value_rating}
        .message= h review.review
        .controls
          = (link_to 'approve', [:approve, :admin, review], :remote => true, :class => 'approve_button') unless review.approved?
          = link_to 'remove', [:admin, review], :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
        .clear
    .admin_review.summary
      .amount.message
        %strong Total: #{pluralize(@reviews.count, 'review')}
      .clear

- else
  %p
    No Reviews.      