= title "Manage #{@location.name} Comments"

%h1 Manage #{@location.name} Comments

- if @location.comments.count > 0
  .locations
    .location
      .name 
        %strong Location Name
      .full_address 
        %strong Status
      .message_long 
        %strong Comment
      .controls 
        %strong Actions
      .clear  
    - @location.comments.each do |comment|
      .location{ :class => cycle(:odd, :even), :id => "comment-#{comment.id}" }
        .name= link_to comment.commentable.try(:name), place_path(comment.commentable)
        .full_address= comment.status
        .message_long= comment.comment
        .controls
          = (link_to 'approve', [:approve, :dashboard, current_user, @location, comment], :remote => true, :class => 'approve_button') unless comment.approved?
          = link_to 'remove', [:dashboard, current_user, @location, comment], :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
        .clear
- else
  %p Comments list is blank.    
      