= title "Sign up | #{SEO_TITLE_SHORT}"
= description "Sign up #{SEO_TITLE_SHORT}"

= no_index_me

- if @location
  .w640px.center_block.top6px= render :partial => '/users/verify_greetings'
      
.w640px.center_block.top6px.mb24px
  .block_header
    %h1 Sign up
  
  .block
    .h590px.overflow_hidden.left
      .tabs
        = link_to 'Sign In', new_user_path, :class => 'sign_in_tab inactive disable'
        = link_to 'Login', new_user_session_path, :class => 'login_tab'
      .clear
      .block_content.h558px
        %br
        = simple_form_for @user do |f|
          = f.error_messages
          = render :partial => 'form', :locals => { :f => f }
    .light_block.w185px.h581px.left
      = render :partial => '/shared/why_sign_up'
    .clear