= title "Sign up | #{SEO_TITLE_SHORT}"
= description "Sign up #{SEO_TITLE_SHORT}"

= no_index_me

.page

  .page_title
    %h1 Sign up
  .clear
  
  .page_block
    - if @location
      = render :partial => '/users/verify_greetings', :locals => { :location => @location }
    
    = simple_form_for @user do |f|
      = f.error_messages
      = render :partial => 'form', :locals => { :f => f }
    
    .clear
    
    %p.links.page_links
      = link_to 'Login', new_user_session_path