= title "Find specials, bars | #{SEO_TITLE_SHORT}"
= description "Find specials, bars | #{SEO_DESCRIPTION}"

%h1 Find Specials

- if City.top.count > 0
  .top_cities
    %h2 Top Cities, Top Specials
    - City.top.by_name.each do |city|
      .city= link_to city.name, [city.state, city], :title => "specials in #{city.name}"
    .clear

.cols.cities
  - @states.in_groups_of(6, false) do |states_row|
    .col
      - states_row.each do |state|
        %h3= state.name
        - if state.markets.count > 0
          %ul
            - state.markets.by_name.each do |market|
              %li.market= link_to market.name, [state, market]
        %ul
          - state.cities.by_name.each do |city|
            %li= link_to city.name, [state, city]
.clear