%ul
  %li= link_to 'Contact Us', '#'
  %li= link_to 'About Us', '#'
  %li= link_to 'FAQ', '#'
  %li= link_to 'Terms and Services', '#'
  %li= link_to 'Privacy Policy', '#'

#twitter
#facebook

.clear