#logo
  %h1 
    = link_to 'CheaperDrinker', root_path
%ul#nav
  - if home_page?
    %li= link_to 'Find Bar', '#', :id => 'find_bar'
  - if logged_in?
    - if dashboard?
      %li= link_to "Add Bar", '', :id => 'add_bar_link'
    - else
      %li= link_to "Add Bar", dashboard_path(:anchor => 'add_bar')
    %li= link_to 'Dashboard', dashboard_path
    %li= link_to "Logout", logout_user_session_path
  - else
    %li= link_to 'Sign up', new_user_path
    %li= link_to 'Login', new_user_session_path
.clear