#logo
  = link_to image_tag('/images/logo.png'), root_path
%ul#nav
  - if home_page?
    %li= link_to 'Location Search', '#', :id => 'find_bar'
  - if logged_in?
    - if logged_in? && dashboard?
      %li= link_to "Add a Bar", '', :id => 'add_bar_link'
    - else
      %li= link_to "Add a Bar", dashboard_path(:anchor => 'add_bar')
    %li= link_to 'FAQs', page_path('faq')
    %li= link_to 'Account Settings', edit_dashboard_user_path(current_user)
    %li= link_to "Logout", logout_user_session_path
  - else
    %li= link_to 'FAQs', page_path('faq')
    %li= link_to 'Sign up', new_user_path
    %li= link_to 'Login', new_user_session_path
.clear