#logo
  = link_to image_tag('/images/logo.png'), root_path

#section1.header_section
  = link_to 'All Cities', cities_path
  = link_to 'My Favorites', '#'
  - if home_page?
    =# link_to 'Location Search', '#', :id => 'find_bar'
  - if logged_in?
    = link_to "Add a Bar", [:dashboard, :add_bar]

#section2.header_section
  - if logged_in?
    = link_to 'Account Settings', edit_dashboard_user_path(current_user)
    = yield :admin_nav_items
    = link_to "Logout", logout_user_session_path
  - else
    = link_to 'Sign up', new_user_path
    = link_to 'Login', new_user_session_path

#section3.header_section
  .q_bg_container
    .q_bg
    .q_controls
      = text_field_tag 'q', params["q"], "data-autocomplete" => autocomplete_location_name_path, :id => 'q'
      = link_to 'Advanced Search &rarr;'.html_safe, '#advanced_filter', :id => 'advanced_filter_link'
    
.clear