#logo
  = link_to image_tag('/images/logo_smaller2.png'), root_path

#section1.header_section
  - unless logged_in?
    %span.top_menu_spacer
  = link_to 'All Cities', states_path
  = link_to 'My Favorites', page_path('favorites')
  - if logged_in?
    = link_to "Add a Bar", [:dashboard, :add_bar]

#section2.header_section
  - if logged_in?
    - if current_user.locations.count > 0
      = link_to 'Manage Locations', dashboard_path
    - else
      = link_to 'Account Settings', edit_dashboard_user_path(current_user)
    = yield :admin_nav_items
    = link_to "Logout", logout_user_session_path
  - else
    %span.top_menu_spacer
    = link_to 'Sign up', new_user_path
    = link_to 'Login', new_user_session_path

#section3.header_section
  %span.top_menu_spacer
  .q_bg_container
    /.q_bg
    .q_controls
      = form_tag '/search', :method => :get do
        = text_field_tag 'q', params["q"], "data-autocomplete" => autocomplete_location_name_path, :id => 'q', :placeholder => 'enter bar name'
      /= link_to 'Advanced Search &rarr;'.html_safe, '#advanced_filter', :id => 'advanced_filter_link'
    
.clear