%ul
  - events.each do |event|
    %li
      .event_icon= link_to (image_tag 'event_sample.png'), event
      %strong= link_to event.title, event
      %span.category= event.event_category.try(:name)
      %span.date= event.start.to_date
      .clear

= link_to "View all Events >>", [:events], :class => 'view_all_events'  