- places.each do |location|
  - cache location.uuid(current_day, 'html', {:start => params['start'], :end => params['end']}) do
    %li.bar_specials_info
      %strong.place_name 
        #{location.name} 
        = gay_icon(location)
        - if Rails.env == 'development'
          (#{location.plan})
      .static_rating= static_rating(location.average_rating)
      .address= location.address
      .description= simple_format location.special_for_day(current_day, params["start"], params["end"])
      .link_to= link_to 'More Details', place_path(location), :title => "#{location.name} specials"