= title "Happy Hour Scout - Finding Happy Hours and Bar Specials for You!"

.page.w960px.center_block.top12px.padding6_8px
  .w228px.left
    .page_title
      %h2 Cities Navigation
    .dark4_background.cities_navigation
      - City.top.by_name.each do |city|
        .city
          = link_to city.name, [city.state, city], :title => "specials in #{city.name}"
          - if city.neighborhoods.count > 0
            %ul
              - city.neighborhoods.each do |neighbourhood|
                %li.neighborhood= link_to neighbourhood.name, [neighbourhood.city.state, neighbourhood.city, neighbourhood]
    .page_title
      %h2 Featured Bars
    .dark4_background.featured_bars
      %ul= render :partial => '/home/places', :locals => { :places => Location.featured_bars.all, :current_day => Time.zone.now.wday }
  .w490px.left.mlr6px
    .page_title
      %h2 Blog
  .w228px.left
    .page_title
      %h2 Events
  .clear
    
