= title "Happy Hour Scout - Finding Happy Hours and Bar Specials for You!"

= content_for :map do
  == <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=#{GOOGLE_KEYS[Rails.env.to_s]}" type="text/javascript"></script>
  == <meta name="google-site-verification" content="FNJnbRnOMo8EFSVaXQGL_r0BziyKw7KjpHOQhaBlgrA" />
  = javascript_include_tag 'clusterer2'
  = javascript_include_tag 'markerclusterer_packed'
  
- content_for :on_ready do
  set_url_options();
  !== show_bars_on_map();
  updateMap('home');
  init_day_filter();
  init_advanced_search();

.contentwrapper
  .right_content
    #global_map.none
%div.left_content
  .welcome_message.none
    %h1 Looking for drink specials? 
    %strong If this is your first time here please take a moment to read these helpful tips.
    %ul
      %li As you zoom in on the map bars will be displayed and their specials will be listed in this area.
      %li
        = link_to 'Sign up', new_user_path 
        to have access to advanced features such as adding or editing specials, reviewing bars, and setting a default location so you don’t have to view this message every time you visit.
      %li 
        Please view our 
        = link_to 'Frequently Asked Questions', page_path('faq')
        for more information.
    %p.none
      If you’d rather just view specials without creating an account, enter your location below: (Search box here)
  #sidebar.none
    .select_date
      = select_tag :day, options_for_select(DAYS_FOR_SPECIALS.keys.collect{|d| [d.to_s.titleize, d]}, @current_date), :id => 'select_date', :class => 'simple'
      [
      #{link_to '+', '#advanced', :id => 'advanced_search', :title => 'Advanced search'}
      ]
    .advanced_search_form.none
      %label
        = check_box_tag 'gay_bar', false, false, :id => 'gay_bar_check_box'
        hide gay bars
    .slider_container= render :partial => '/shared/slider'
    .clear
    .title.text_center
      %strong Bars Currently Displayed
    %p None
    %ul  
%div.clear