= title @event.title

%h1 #{@event.title}
.clear

%dl.w50.strict
  - if @event.has_owner?
    %dt Owner
    %dd= @event.user.name
  %dt Description
  %dd= simple_format @event.description
  %dt Start
  %dd= @event.start
  %dt End
  %dd= @event.end
  %dt Start Time
  %dd= @event.start_time.to_s(:time_12)
  %dt Photo
  %dd= image_tag @event.photo.url(:medium)