= title @event.title

%h1 #{@event.title}

.event_date_time
  #{@event.start}
  - if @event.has_time?
    , #{@event.start_time.to_s(:time_12)}

- if @event.has_photo?
  = image_tag @event.photo.url(:medium), :class => 'event_image'
  
= simple_format @event.description

%p
  = @event.category_name

.clear    
    
%p.links
  = link_to "View all Events >>", [:events]