= title "My Favorites | #{SEO_TITLE_SHORT}"
= description "My Favorites #{SEO_TITLE_SHORT}"

%h1 My Favorites
    
- if logged_in? && current_user.favorites.count > 0
  .cols.cities.places
    - current_user.favorites.by_name.in_groups_of(6, false) do |places|
      .col4
        - places.each do |place|
          = render :partial => '/places/place', :locals => { :place => place }
- else
  %p
    You need to be #{link_to 'registered', new_user_path} to use this feature.