= add_editor
= editor("#post_body");

= error_messages_for :post

= simple_form_for([:dashboard, current_user, @post]) do |f|
  = f.input :title
  = f.input :body, :label => "Content", :input_html => { :style => 'width: 90%; height: 600px;' }
  = f.submit f.object.new_record? ? 'Create' : "Update"