= title 'Manage Your Locations'

- content_for :on_ready do
  init_add_form(); 
  init_location_form();
  
%h1 General Dashboard

%h2.left Locations
.right.subnav= link_to 'Add Location', '#', :class => 'add_button', :to => '.location_form'
.clear
= render :partial => '/dashboard/locations/locations', :locals => { :user => @user }
.add_more_block
  = semantic_form_for [:dashboard, current_user, @user.locations.build], :remote => true, :html => { :class => 'none location_form' } do |f|
    = f.inputs do
      = render :partial => '/dashboard/locations/inputs', :locals => { :f => f }
    = f.buttons do
      = f.submit 'Add new Location'
      = link_to 'Hide', '#', :class => 'hide cancel_button'