= title "Manage #{@market.name} Neighborhoods"

%h1.left #{@market.name} Neighborhoods
.add.right
  = link_to "Add #{@market.name} Neighborhood", [:new, :admin, @market.state, @market, :neighborhood], :class => 'add_button'
.clear  

%table.zebra.w50
  %tr
    %th Name
    %th Actions
  - @neighborhoods.each do |neighborhood|
    %tr{ :class => cycle(:odd, :even)}
      %td= neighborhood.name
      %td
        = link_to 'show', [:admin, @market.state, @market, neighborhood], :class => 'show_button'
        = link_to 'edit', [:edit, :admin, @market.state, @market, neighborhood], :class => 'edit_button'
        = link_to 'remove', [:admin, @market.state, @market, neighborhood], :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
  %tr
    %td{:colspan => 2}
      %strong Total: #{@market.neighborhoods.count}
      
%p
  = link_to "All #{@state.name} Markets", [:admin, @state, :markets], :class => 'index_button'
