= add_google_map_2

= content_for :on_ready do
  == var lat = #{@neighborhood.lat};
  == var lng = #{@neighborhood.lng};   
  == initialize_map_with_lat_and_lng(lat, lng);

= title @neighborhood.name

%h1.left #{@neighborhood.name}
.add.right
  = link_to "Edit", [:edit, :admin, @neighborhood.market.state, @neighborhood.market, @neighborhood], :class => 'edit_button'  
  |
  = link_to "Public", [@neighborhood.market.state, @neighborhood.market, @neighborhood], :class => 'public_view'
.clear

%div#map_canvas{:style => "width: 100%; height: 400px; margin-bottom: 12px"}

%p
  =# link_to "public view", [@neighborhood.city.state, @neighborhood.city, @neighborhood], :class => 'public_view'
  = link_to "All #{@neighborhood.market.name} Neighborhoods", [:admin,  @neighborhood.market.state, @neighborhood.market, :neighborhoods], :class => 'index_button'
