- if current_user.admin? && controller_name == 'locations'
  = f.input :user_id, :collection => User.all.collect{|u| [ u.short_information, u.id ] }, :selected => f.object.new_record? ? nil : f.object.user_id
- if current_user.admin?
  = f.input :plan, :collection => Location::PLANS.invert, :as => :select, :include_blank => false
= f.input :name, :label => 'Name'
= f.input :city
= f.input :state, :collection => STATES, :include_blank => false
= f.input :zip
= f.input :address
= f.input :description, :input_html => { :rows => '5', :cols => '30' }, :label => 'Provide a brief description:'
= f.input :gay_bar