- if current_user.admin? && controller_name == 'locations'
  = f.input :user_id, :collection => User.all.collect{|u| [ u.short_information, u.id ] }, :selected => f.object.new_record? ? nil : f.object.user_id
- if current_user.admin?
  = f.input :plan, :collection => Location::PLANS.invert, :as => :select, :include_blank => false
= f.input :name, :label => 'Name'
= f.input :phone
= f.input :address
= f.input :city
= f.input :state, :collection => STATES, :include_blank => false
= f.input :zip
= f.input :description, :input_html => { :rows => '6', :cols => '60' }, :label => 'Anything we should know about this site?  (Information here is only visible admins)'
= f.input :gay_bar
= f.input :twitter
= f.input :facebook

= f.simple_fields_for :location_schedule, f.object.location_schedule || f.object.build_location_schedule do |s|
  %h3 Hours
  %table.edit_schedule.zebra
    %thead
      %tr
        %th Day
        %th Open
        %th Close
    %tbody
      - LocationSchedule::DAYS.each do |d|
        %tr
          %td= d.to_s.titleize 
          %td= s.input "starts_#{d}_at", :as => :select, :collection => time_options, :include_blank => true
          %td= s.input "ends_#{d}_at", :as => :select, :collection => time_options, :include_blank => true
          
= content_for :on_ready do
  $('#location_city').autocomplete({ minLength: 1, source: '/autocomplete_city_name' });