.locations
  - if user.locations.count > 0
    .location.summary
      .name 
        %strong Name
      .full_address 
        %strong Full Address
      .specials
        %strong Specials
      .model_field
        = image_tag 'clock_16.png'
      .model_field
        = image_tag 'phone_16.png'
      .model_field
        = image_tag 'facebook_16.png'
      .model_field
        = image_tag 'twitter_16.png'
      .model_field
        &nbsp;
      .message 
        %strong Description
      .status
        %strong Status
      .controls 
        %strong Actions
      .clear  
    - user.locations.backward.each do |location|
      = render :partial => '/dashboard/locations/location', :locals => { :location => location }
    .location.summary
      .amount.message
        %strong Total: #{pluralize(@total, 'location')}
      .clear
  - else
    .locations_list_is_empty
      %i List is empty. Add location.