.location{ :class => cycle(:odd, :even), :id => "location-#{location.id}" }
  .name
    = link_to location.name, place_path(location)
    .plan{:class => Location::PLANS[location.plan]}= Location::PLANS[location.plan]
    .date= location.created_at.to_date.to_s(:short_date)
    .time= location.created_at.to_s(:time_12)
  .full_address
    = location.full_address
  .specials
    - location.short_name_of_special_days.each do |day|
      %span= day
    - if location.short_name_of_special_days.size == 0
      &nbsp;
  .model_field
    = location.schedule_present? ? (image_tag 'green.png') : (image_tag 'red.png')
  .model_field
    = location.phone.blank? ? (image_tag 'red.png') : (image_tag 'green.png')
  .model_field
    = location.facebook.blank? ? (image_tag 'red.png') : (image_tag 'green.png')
  .model_field
    = location.twitter.blank? ? (image_tag 'red.png') : (image_tag 'green.png')      
  .model_field
    &nbsp;
  .message
    = location.description
    &nbsp;
  .status
    = location.approved ? (image_tag 'green.png') : (image_tag 'red.png')
  .controls
    = link_to 'show', [:dashboard, current_user, location], :class => 'show_button'
    = link_to 'edit', [:edit, :dashboard, current_user, location], :class => 'edit_button'
    = link_to 'remove', [:dashboard, current_user, location], :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
    = link_to "specials(#{location.special_days_count})", [:dashboard, current_user, location, :special_days], :class => 'index_button'
    = link_to "reviews(#{location.reviews_count})", [:dashboard, current_user, location, :reviews], :class => 'index_button'
  .clear  
  
  