= title "Find Specials in #{@market.name}, #{@market.state.name} | #{SEO_TITLE_SHORT}"
= description "Find specials in #{@market.name}, bars | #{SEO_DESCRIPTION}"

= render :partial => '/shared/map', :locals => { :element => @market }