= title "Find specials in #{@state.name}, #{@state.name} bars | #{SEO_TITLE_SHORT}"
= description "Find specials in #{@state.name}, #{@state.name} bars | #{SEO_DESCRIPTION}"

%h1 Cities

%ul
  - @cities.each do |city|
    %li= city.name