= title "Find specials in #{@city.name}, #{@city.name} bars | #{SEO_TITLE_SHORT}"
= description "Find specials in #{@city.name}, #{@city.name} bars | #{SEO_TITLE_SHORT}"

%h1 Happy Hour in #{@city.name}

%p
  = link_to "Browse all #{@city.state.name} cities", [@city.state]

%p
  = link_to "Browse Bars on #{@city.name} Map", [:map, @city.state, @city]

.cols.cities.places
  - @city.locations.by_name.in_groups_of(6, false) do |places|
    .col4
      - places.each do |place|
        = render :partial => '/places/place', :locals => { :place => place }