= title "Find specials in #{@city.name}, #{@city.name} bars | #{SEO_TITLE_SHORT}"
= description "Find specials in #{@city.name}, #{@city.name} bars | #{SEO_TITLE_SHORT}"

%h1 #{@city.name}

.cities
  %ul
    - @city.locations.each do |location|
      %li= link_to location.name, place_path(location)