= title "Find specials in #{@neighborhood.name}, #{@neighborhood.city.name} bars | #{SEO_TITLE_SHORT}"
= description "Find specials in #{@neighborhood.name}, #{@neighborhood.city.name} bars | #{SEO_TITLE_SHORT}"

= render :partial => '/shared/map', :locals => { :element => @neighborhood }