= title "Login | #{SEO_TITLE_SHORT}"
= description "Login #{SEO_TITLE_SHORT}"

= no_index_me

.w640px.center_block.top6px
  .block_header
    %h1 Login
  
  .block
    .w426px.overflow_hidden.left
      .tabs
        = link_to 'Sign In', new_user_path, :class => 'sign_in_tab'
        = link_to 'Login', new_user_session_path, :class => 'login_tab inactive disable'
      .clear
      .block_content.h267px
        %br
        - simple_form_for :user_session, @user_session, :url => user_session_path do |f|
          = f.error_messages
          = f.input :email, :input_html => { :size => 40 }
          = f.input :password, :input_html => { :size => 40 }
          = f.input :remember_me, :as => :boolean
          = f.submit "Sign in"
        %p.links
          = link_to 'Forgot your password?', new_password_reset_path
    .light_block.w185px.h290px.left
      = render :partial => '/shared/why'
    .clear