%ul#admin_nav
  %li.users_menu= link_to 'Users', admin_users_path
  %li.locations_menu= link_to 'Locations', admin_locations_path
  %li.comments_menu= link_to 'Comments', admin_comments_path
  %li.back_menu= link_to 'Back to Dashboard'.html_safe, dashboard_path
.clear

- content_for :on_ready do
  == $('#admin_nav .#{controller_name}_menu').addClass('selected');