= title "#{@location.name} Reviews, #{@location.city} | #{SEO_TITLE_SHORT}"
= description "Happy hour in #{@location.name}, #{@location.name} specials reviews, #{@location.city}"
= keywords "#{@location.name}, #{@location.city}, #{SEO_KEYWORDS}"

.bar_reviews_list
  %p
    - if logged_in?
      %a{:href => '#reviews', :id => 'post_review'} Post Review
    - else
      %strong Create an #{link_to 'account', new_user_path} or #{link_to 'login', new_user_session_path} to post review.
    
  - if @location.reviews.approved.count > 1
    .text_containter
      = render :partial => '/reviews/reviews', :locals => { :location => @location }
  - else
    .text_containter
      Be first who reviewed #{@location.name}.