= title "#{@location.name} Specials, #{@location.city}"

.bar_specials_list
  %ul
    - DAYS_FOR_SPECIALS.keys.each do |day|
      - next unless @location.special?(day)
      %li
        .day= day.to_s.titleize
        .description= simple_format(@location.special_for_day(day))