= title @location.name

= content_for :map do
  == <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=#{GOOGLE_KEYS[Rails.env.to_s]}" type="text/javascript"></script>

= content_for :on_ready do
  !== show_place_map(#{@location.map_info.to_json});
  $("#post_review").colorbox({width:"550px", inline:true, href:"#reviews" });
  init_bar_rating();

- if logged_in? && current_user.admin?
  .right
    = link_to 'Edit Details', [:edit, :admin, @location]
    |
    = link_to 'Edit Specials', [:admin, @location, :special_days]
  .clear
  
#bar
  .bar_name
    %h1= @location.name
    .location_rating
      .overall_rating= static_rating(@location.average_rating)
      .rating_info based on #{pluralize(@location.reviews.approved.count, 'review')}
      .clear
    .social= render :partial => '/shared/add_this'
    .clear
  .bar
    .w33.left
      #map
      .last_updated
        Last updated on: #{@location.updated_at.to_date.strftime("%B %d, %Y")}
      .bar_info
        %address= @location.full_address
      = gay_icon(@location, :large)
  
    .w66.right
      .bar_specials_list
        %strong Specials
        %ul
          - DAYS_FOR_SPECIALS.keys.each do |day|
            - next unless @location.special?(day)
            %li
              .day= day.to_s.titleize
              .description= simple_format(@location.special_for_day(day))
        %p
          - if logged_in?
            %a{:href => '#reviews', :id => 'post_review'} Post Review
          - else
            %strong Create an #{link_to 'account', new_user_path} or #{link_to 'login', new_user_session_path} to post review.
        
        .reviews_container
          = render :partial => '/reviews/reviews', :locals => { :location => @location }
  .clear
  
  - if logged_in?
    .none
      #reviews.popup
        .popup_header
          %strong Review this bar
        .popup_body
          %h3= @location.name
          = simple_form_for [@location, @review], :html => { :id => 'post_review_form' }, :remote => true do |f|
            = f.input :user_id, :value => current_user.id, :as => :hidden
            .rating_container
              .rating_title Service
              .rating_field
                = f.hidden_field :service_rating, :id => 'service_rating_value'
                %span#service_rating
              .clear
            .rating_container
              .rating_title Atmosphere
              .rating_field
                = f.hidden_field :atmosphere_rating, :id => 'atmosphere_rating_value'
                %span#atmosphere_rating
              .clear
            .rating_container
              .rating_title Value
              .rating_field
                = f.hidden_field :value_rating, :id => 'value_rating_value'
                %span#value_rating
              .clear
            = f.input :review, :input_html => { :rows => '8', :cols => '64' }
            = f.submit "Post review", :id => 'post_review_button'