%html
  %head
    %title= (yield :title) || SEO_TITLE
    == <meta content="#{h((yield :description) || SEO_DESCRIPTION)}" name="description" />
    == <meta content="#{h((yield :keywords) || SEO_KEYWORDS)}" name="keywords" />
    %meta{ 'http-equiv' => 'imagetoolbar', :content => 'no' }
    %meta{ :name => 'distribution', :content => 'global' }
    - if (yield :noindex).blank?
      %meta{ :name => 'robots', :content => 'all' }
    - else
      %meta{ :name => 'robots', :content => 'noindex' }
    %meta{ :name => 'resource-type', :content => 'document' }
    %meta{ :name => 'MSSmartTagsPreventParsing', :content => 'true' }
    <meta content="en" http-equiv="Content-Language" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="audience" content="all" />
    <meta name="revisit-after" content="7 days" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="image_src" href="http://happyhourscout.com/logo.jpg" />
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.6.custom', 'application', 'colorbox', :cache => 'application_bundle'
    = yield :css
    = yield :js
    = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.6.custom.min', 'rails.jquery', 'jquery.colorbox-min', 'mapiconmaker_packed', 'jquery.raty.js', 'z', :cache => 'application_static_bundle'
    = csrf_meta_tag
    = yield :map
    = yield :markitup
    %script{:type => 'text/javascript', :charset => 'utf-8'}
      $(document).ready(function() {
      init_header_autocomplete();
      = yield :on_ready
      });
      = yield :inline_js
    = include_google_analytics
    = add_admin_nav
  %body
    #root
      #content
        .container= raw(flash_messages)
        .container.header_container= render '/shared/header'
        .container
          %div{:class => "content_container #{yield :admin_css_class}"}= yield
        .clear
      #root_footer
    #footer
      = render :partial => '/shared/footer'
      =# render :partial => '/shared/user_voice'