%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.6.custom', 'application', 'colorbox'
    <link  href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold" rel="stylesheet" type="text/css" />
    = yield :css
    = yield :js
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.6.custom.min', 'rails.jquery', 'jquery.colorbox-min', 'mapiconmaker_packed', 'jquery.raty.min.js', 'application'
    = csrf_meta_tag
    = yield :map
    = yield :markitup
    %script{:type => 'text/javascript', :charset => 'utf-8'}
      $(document).ready(function() {
      = yield :on_ready
      });
      = yield :inline_js
    = include_google_analytics
    = add_admin_nav
  %body
    #root
      #content
        .container= raw(flash_messages)
        .container.header_container= render '/shared/header'
        .container
          .content_container= yield
        .clear
      #root_footer
    #footer
      = render :partial => '/shared/footer'
    - if Rails.env == 'production'
      = render :partial => '/shared/ga'