%html
  %head
    %title= (yield :title) || SEO_TITLE
    == <meta content="#{h((yield :description) || SEO_DESCRIPTION)}" name="description" />
    == <meta content="#{h((yield :keywords) || SEO_KEYWORDS)}" name="keywords" />
    %meta{ 'http-equiv' => 'imagetoolbar', :content => 'no' }
    %meta{ :name => 'distribution', :content => 'global' }
    %meta{ :name => 'robots', :content => 'all' }
    %meta{ :name => 'resource-type', :content => 'document' }
    %meta{ :name => 'MSSmartTagsPreventParsing', :content => 'true' }
    <meta content="en" http-equiv="Content-Language" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="audience" content="all" />
    <meta name="revisit-after" content="7 days" />
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.6.custom', 'application', 'formtastic', 'formtastic_changes' , 'colorbox', :cache => 'public_bundle'
    = yield :css
    = yield :js
    = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.6.custom.min', 'rails.jquery', 'jquery.colorbox-min', 'mapiconmaker_packed', 'jquery.raty.min.js', 'utils', :cache => 'public_static_bundle'
    = javascript_include_tag 'z', :cache => 'public_bundle'
    = csrf_meta_tag
    = yield :map
    = yield :markitup
    %script{:type => 'text/javascript', :charset => 'utf-8'}
      !== var TIMES_ARRAY = #{time_options.invert.to_json};
      - if logged_in?
        !== var USER_LOCATION = #{current_user.map_info.merge(:zoom => DEFAULT_DETAILED_ZOOM).to_json};
      $(document).ready(function() {
      init_header_autocomplete();
      = yield :on_ready
      });
      = yield :inline_js
    = include_google_analytics
    = add_admin_nav
  %body
    #root.full_screen
      #content
        .container= raw(flash_messages)
        .container.header_container= render '/shared/header'
        .container= yield
        .clear
        .none
          #find_bar_container
            = form_tag '/find_bar', :remote => true, :id => 'find_bar_form' do
              .q_form
                %label
                  type a location or zip code
                %br
                = text_field_tag 'q'
                = submit_tag "Find"
                = image_tag "remembermilk_orange.gif", :class => 'ajax_loader none'
                %br
                - if logged_in?
                  %label.set_default_address
                    = check_box_tag 'default', 1
                    set address above as my default address
              .q_result.none
                Couldn't locate address. Please try again.
      #root_footer
    #footer
      = render :partial => '/shared/footer'
      = render :partial => '/shared/user_voice'